html,
body {
  height: 100%;
  margin: 0;
  padding: 0;

}

.landRows,
.contain-filter,
.container-sort,
.notapprovedlandRows,
.approvedlandRows {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-family: "Bai Jamjuree", sans-serif;

}

.container-sort td {
  text-align: center;
  border: 2px solid #3FB8AF;
  background-color: white;
  padding: 10px;
  box-shadow: 1px 1px 10px 1px rgba(50, 50, 50, 0.171);

}

td.active {
  background-color: #3FB8AF;
  color: white;
}

td:hover:not(.active) {
  background-color: #E5E5E5;
}


#sortBy1,
#sortBy2 {
  width: 40%
}

.contain-filter {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 1px 1px 10px 1px rgba(50, 50, 50, 0.041);

}

.contain-filter h4 {
  font-family: "Bai Jamjuree", sans-serif;
}

.col-sm-4 {
  margin-top: 10px;
}

.col-sm-4 label {
  width: 25%;
}

select {
  width: 70%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.select-block-clicked {
  background-color: lightgrey;
  pointer-events: none;
}

/*! filter */

.filter-detail {
  display: none;
}


table.filter-row:hover {
  background-color: white;
  box-shadow: 1px 1px 10px 1px rgba(50, 50, 50, 0.103);
  border-radius: 5px;

}

div.show-map-filter {
  width: 100%;
  text-align: center;
}

.filter-row-left {
  display: inline-block;
  text-align: center;
  width: 120px;
}

td.filter-row-left:hover {
  background-color: white;
}

.filter-row-right {
  text-align: center;
  width: 20px;
  display: inline-block;

}

td.filter-row-right:hover {
  background-color: white;
}

.filter-row-center hr {
  border: 1px solid black;
}

td.filter-row-center:hover {
  background-color: white;
}

/*! range slider*/
/**** Custom styles for noUiSlider ****/
.noUi-connect {
  background: #6A5893;
}

/* .noUi-horizontal .noUi-handle, .noUi-vertical .noUi-handle {
	background: #69B845;
}
.noUi-target.noUi-horizontal .noUi-tooltip {
  background-color: #69B845;
  color: white;
} */



/*!/Range slide*/